<!DOCTYPE html>
<html>
<head>
    <title>View Expenses</title>
</head>
<body>

<h1>View Expenses</h1>

<form method="GET">

    <label>Select Trip</label>

    <select name="trip_id">

        {% for trip in trips %}

        <option value="{{ trip.id }}">
            {{ trip.trip_name }}
        </option>

        {% endfor %}

    </select>

    <button type="submit">
        Show Expenses
    </button>

</form>

<hr>

<table border="1">

<tr>
    <th>Category</th>
    <th>Amount</th>
    <th>Description</th>
</tr>

{% for expense in expenses %}

<tr>
    <td>{{ expense.category }}</td>
    <td>{{ expense.amount }}</td>
    <td>{{ expense.description }}</td>
</tr>

{% endfor %}

</table>

<h2>Total Expense = ₹{{ total }}</h2>

</body>
</html>